.Home {
  min-height: 100vh;
  color: black
}

.App {
  text-align: center;
  padding-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  color:black;
}

.btn-lang{
  min-width: 200px;
}

.spinner {
  margin:auto;
  
  transform: translateX(50%);
}